/* Custom Fonts */
@font-face {
    font-family: RaleWayRegular;
    src: url(../assets/fonts/Raleway/Raleway-Regular.ttf);
}

@font-face {
    font-family: RaleWaySemibold;
    src: url(../assets/fonts/Raleway/Raleway-SemiBold.ttf);
}

@font-face {
    font-family: RobotoLight;
    src: url(../assets/fonts/Roboto/Roboto-Light.ttf);
}

/* Default Style */
:root {
    --text-primary: #444444;
    --background: #FFFFFF;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: none;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-image: url("../assets/bg.jpg");
    background-color: var(--background);
    background-repeat: no-repeat;
}

/* fonts */
h1 {
    font-size: 48px;
    color: var(--text-primary);
}

h2 {
    font-size: 104px;
    color: var(--text-primary);
}

h3 {
    font-size: 36px;
    color: var(--text-primary);
}

a {
    text-decoration: none;
}

/* home section - content style */
.main_container {
    height: 100vh;
}

.home {
    display: flex;
    gap: 50px;
    width: 80%;
    margin: auto;
    height: 75%;
    align-items: center;
    justify-content: center;
}

.home .content {
    width: 50%;
}


.home .content h1 {
    font-family: 'RaleWayRegular';
    animation: slideLeft .50s linear 2s, rightLeft .50s linear 17.5s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

@keyframes slideLeft {
    0% {
        transform: translateY(30px);
        visibility: visible;
    }

    100% {
        transform: translateY(0);
        visibility: visible;
    }
}

@keyframes rightLeft {
    0% {
        transform: translateY(0);
        visibility: visible;
    }

    100% {
        transform: translateY(30px);
        visibility: hidden;
    }
}

.home .content h2 {
    font-family: RaleWaySemibold;
    animation: slideLeft .50s linear 3s, rightLeft .50s linear 16.5s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

.home .content button {
    font-family: RaleWaySemibold;
    background-color: #00ACF1;
    color: #FFFFFF;
    width: 170px;
    height: 50px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    animation: slideLeft .50s linear 4s, rightLeft .50s linear 15.5s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

.home .image {
    width: 50%;
    animation: slideRight 1s linear .5s, secondSlight 1s linear 18.5s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

@keyframes slideRight {
    0% {
        transform: translateX(130px);
        visibility: visible;
    }

    100% {
        transform: translateX(0);
        visibility: visible;
    }
}

@keyframes secondSlight {
    0% {
        transform: translateX(0);
        visibility: visible;
    }

    100% {
        transform: translateX(200px);
        visibility: hidden;
    }
}

.home .image img {
    width: 100%;
}

.main_container .position {
    position: relative;
    width: 100%;
    height: 25%;
}

.main_container .position .footer {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.main_container .position .footer span{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    font-size: 36px;
    animation: circleWide 10s linear 5.3s;
    visibility: hidden;
    transform-origin: 0 350px;
}

@keyframes circleWide {
    0% {
        transform: rotate(360deg);
        visibility: visible;
    }

    100% {
        transform: rotate(0deg);
        visibility: visible;
    }
}

.main_container .position .footer h3 {
    font-family: 'RobotoLight';
}